# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Migrations (optional - keep __init__.py)
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc
