{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-warning">
        <h4 class="mb-0">Update Incident</h4>
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-success">
                Save Changes
            </button>

            <a
                href="{% url 'incident_list' %}"
                class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}